ansicolors==1.1.8
distro==1.9.0
pyfiglet==1.0.2
importlib_resources==6.5.2
packaging==25.0
setuptools==80.9.0
requests==2.32.3
responses==0.25.7
semver==3.0.4
python-hosts==1.0.7
PyYAML==6.0.2
types-PyYAML==6.0.12.20250516
pyobjc-core==11.0; sys_platform == 'darwin'
pyobjc-framework-Cocoa==11.0; sys_platform == 'darwin'
requests-unixsocket==0.4.1
dpath==2.2.0
pyOpenSSL==25.1.0
types-pyOpenSSL==24.1.0.20240722
pyclip==0.7.0
urllib3==2.4.0
