ansicolors==1.1.8
distro==1.9.0
pyfiglet==0.8.post1
importlib_resources==6.4.0
dataclasses==0.8; python_version < '3.7'
types-dataclasses==0.1.5; python_version < '3.7'
packaging==20.9
setuptools==70.2.0
requests==2.32.3
responses==0.25.3
semver==3.0.2
python-hosts==1.0.6
tabulate==0.9.0
types-tabulate==0.9.0.20240106
PyYAML==5.3.1
types-PyYAML==6.0.12.20240311
pyobjc-core==10.3.1; sys_platform == 'darwin'
pyobjc-framework-Cocoa==10.3.1; sys_platform == 'darwin'
requests-unixsocket==0.3.0
dpath==2.2.0
pyOpenSSL==24.1.0
types-pyOpenSSL==24.1.0.20240425
pyclip==0.7.0
urllib3<1.27 # pin lower than 2 because of incompatibility with requests lib: https://github.com/psf/requests/issues/6432