ansicolors==1.1.8
distro==1.8.0
pyfiglet==0.8.post1
importlib_resources==6.1.1
dataclasses==0.8; python_version < '3.7'
types-dataclasses==0.1.5; python_version < '3.7'
packaging==20.9
setuptools==69.0.2
requests==2.31.0
responses==0.24.1
semver==3.0.2
python-hosts==1.0.5
tabulate==0.9.0
types-tabulate==0.9.0.3
PyYAML==6.0
types-PyYAML==6.0.12.12
pyobjc-core==10.0; sys_platform == 'darwin'
pyobjc-framework-Cocoa==10.1; sys_platform == 'darwin'
requests-unixsocket==0.3.0
dpath==2.1.6
pyOpenSSL==23.3.0
types-pyOpenSSL==23.3.0.0
pyclip==0.7.0
urllib3<1.27 # pin lower than 2 because of incompatibility with requests lib: https://github.com/psf/requests/issues/6432